/* .sidebar_menu{
    margin-left : -300px;
} */

  body{
    background-size: 100%;
    background-image: url(photo.jpg);
  }

  .main_box{
    margin-top: 30px;
    width: 212px;
    height: 538 px;
  }
  
  .sidebar_menu{
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 5px 4px 9px black;
    position: fixed;
    left: -300px;
    width: 220px;
    height: 96.5vh;
    transition: all 1s linear;
  }
  
  .btn_one{
    width: 25px;
    font-size: 25px;
    margin-top: -20px;  
    /* margin-left: 5px; */
  }
  
  .logo{
    color: white;
    width: 218px;
    margin-top: -30px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 30px;
    text-align: center;
    border: 2px solid gray;
  }
  
  .btn_two{
    margin-top: -42px;
  }

  .fa-xmark{
    margin-top: 8px;
    margin-left: 200px;
  }

  .menu{
    margin-top: 25px;
  }

  ul{
    padding-inline-start: 0px;
    list-style-type: none;
  }
  
  li{
    width: 100px;
    padding: 13px;
  }
  
  li:hover{
    width: 145px;
    border: 2px solid gray;
  }

  .color:hover{
    font-size: 16px;
    color: rgba(128, 128, 128, 0.8);
  }

  a{
    margin-left: 10px;
  }

  .social_media{
    margin-top: 130px;
  }

  .padding{
    padding-left: 37px;
  }

  .padding-2{
    padding-left: 40px;
  }

  a{
    text-decoration: none;
    color: white;
  }

  i{
    color: white;
  }

  #check{
    display: none;
  }  

  #check:checked ~.sidebar_menu{
    left: 0px;
  }

  #check:checked ~.btn_one{
    display: none;
  }
  /* #check{
    opacity: 0;
  } */

  #check:checked ~.sidebar_menu{
    transition: all 1s linear;
  }